---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Accueil - AMTTA">
  <main class="min-h-screen flex items-center justify-center">
    <h1 class="text-4xl font-bold">
      AMTTA Mions
    </h1>
  </main>
</Layout>